/* Input chung */
select, input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
}

/* Placeholder */
input[type="text"]::placeholder {
  color: #999;
}

a {
  text-decoration: none;
  color: #4288e5 !important;
}

a:hover {
  text-decoration: underline;
}

/* Form chung */
.form-main {
  margin-top: 30px;
}

.form-input {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  transition: 0.25s ease;
}

.form-input:focus {
  border-color: #6a5af9;
}

/* Field và Label */
.form-field {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  user-select: none;
  font-size: 13px;
  transition: 0.25s ease;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  left: 11px;
  padding: 0 10px;
  background-color: #fff;
  color: #6a5af9;
  font-size: 12px;
}

/* Body và Wrapper */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background-login.png);
  height: 100vh;
}

.wrapper {
  width: 420px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header và Main */
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.form-header .logo p {
  margin-left: -15px;
  font-size: 24px;
}

.form-header p {
  font-weight: 600;
  font-size: 18px;
}

.form-group p {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

/* Footer */
.form-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type="submit"],
[type="button"],
.wrapper .form-footer button {
  padding: 10px 20px;
  background-color: #4288e5;
  color: white;
  border-radius: 4px;
}

/* Forgot Password */
.forgot-pw {
  font-size: 15px;
  color: #6a5af9;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
}

.forgot-pw:hover {
  text-decoration: underline;
}

.forgot-container {
  width: 380px;
  margin-bottom: 10px;
  border: 1px solid #c0bfbf;
  border-radius: 8px;
  border: none;
}

.forgot-container>p {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.login_signup {
  margin-top: 15px;
  text-align: center;
}

.group-btn {
  margin-top: 20px;
}

.group-btn p {
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
}

.group-btn button {
  width: 100%;
}

.input-group label {
  margin-bottom: 5px;
  display: block;
}

/* Thiết kế hộp thông báo */
.notification {
  position: fixed;
  top: 20px;
  left: -300px;
  width: 250px;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}

/* Hiển thị thông báo */
.notification.show {
  left: 20px;
}
